 @charset "UTF-8";

*{margin: 0; padding: 0;}


a {text-decoration: none; color: red;}

p { margin-top: 10px;  margin-bottom: 15px; font-size: 18px; color: #444;}

 .clearfix{ overflow: auto; }

.wrapper{
	margin: 0 auto;
	width: 1000px;
}

.top-bar{
	width: 1000px;
	background: maroon;
}

.top-bar-links{
	float: left;
}

.top-bar-links ul {
	margin: 15px;
	list-style: none;
}

.top-bar-links ul li{
	padding: 0 10px;
	display: inline-block;
	border-right: 1px solid white;
}

.top-bar-links ul li:last-child{
	border: 0;
}

.top-bar-links ul li a{
	color: white;
}

.site-search{
	padding: 3px 5px 3px 10px;
	margin: 15px;
	float: right;
	background: white;
	border-radius: 10px;
}

.site-search input {
	border: 0;
	float: left;
}

.site-search button {
	width: 18px;
	height:18px; 
	background: url(../img/icons/search.png); 
	border: 0; 
	float: right;
}

.logo{
	margin-top: 30px;
	margin-left: 20px;
	float: left;
} 

.logo h1{
	font-size: 48px;
	font-weight: normal;
	letter-spacing: -1px;
	font-variant:small-caps; 
}

nav {
	margin-top: 20px;
	background: #000;
	background: linear-gradient(#0d0d0d,#404040,#0d0d0d);
	text-align: center;
	border-radius: 5px;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline;
}

nav ul li a {
	color: #fff;
	text-transform: uppercase;
	margin: 10px 40px 10px 40px;
	display: inline-block;
}

nav ul li a:hover {
	color: red;
}

div.intro {
	width: 970px;
	margin: 15px;
	margin-bottom: 0;
} 

div.intro div.introimage {
	float: left;
}

div.introimage img {
	float: left;
}

div.intro div.introtext{
	width: 570px;
	float: left;
} 

div.introtext h1 {
	font-weight: normal;
	margin-top: 100px;
	font-size: 72px;
	text-transform: uppercase;
}

div.introtext p {
	font-size: 18px;
}

div.introtext a {
	text-transform: uppercase;
	float: right;
}

div.homecontent {
	width: 1000px;
	background: #eee;
	margin-bottom:15px;
	padding-bottom: 15px;

}

div.home-col {
	margin-left: 15px;
	width: 313.33px;
	float: left;
}



div.home-col h2 {
	margin: 30px 0 30px 0 ;
	font-size: 30px;
	font-weight: normal;
}

div.home-col a {
	float: right;
}

div.services {
	margin-bottom: 20px; 
}

div.services img {
	float: left;
	margin-right: 15px;
}

div.services p {
	margin-top: 0;
}


footer {
	width: 1000px;
	margin-bottom: 15px;
	margin-top: 15px;
	float: left;


}

div.footercol {
	width: 231.25px;
	float: left;
	margin-left: 15px;
	border-top: 1px solid #000;
}

div.footercol h4 {
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #444;
}

div.tweet p {
	font-size: 16px;

}

ul.quicklinks {
	margin-top: 10px;
	list-style: none;
}

ul.quicklinks li a {
	padding-bottom: 5px;
	margin-bottom: 5px;
	display: block;
	border-bottom: 1px solid #aaa;
	color: #666;
}

ul.quicklinks li a::before {
	content: ">> ";
}


ul.quicklinks li a:hover {
	color: red;
}

div.blogpost {
	clear: both;
}


div.blogpost h5 {
	font-size: 20px;


}	

div.blogpost p {
	font-size: 16px;

}

div.blogpost a.readmore {
	float: right;
}

form.contact input,form.contact  textarea {
     background: #eee; 
     padding: 5px;
     margin-bottom: 5px;  
     width: 221.25px; 
     border: none;
     border-radius: 5px;
     font-family: inherit;
     font-size: 16px;           	
}


form.contact  textarea {
	height: 130px;
}


form.contact  button {
	background: #eee;
	color: red;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px; 
	font-family: inherit;
}

div.copyrights {
	width: 1000px;
	background: #eee;
	float: left;
}

div.left {
	float: left;
	margin: 20px;
}

div.right {
	float: right;
	margin: 20px;
}



